.Details ,.addItems,.HomePage,.editForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buttons{
    display: inline-block;
}
.editBtn, .deleteBtn{
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    list-style: none;

}
.inputTitle{
    margin-bottom: 20px;
    border: 2px solid grey;
    width: 400px;
    height: 60px;
}

.inputDate{
    height: 60px;
    width: 400px;
    margin-bottom: 20px;
    border: 2px solid grey;}

.inputdes{
    height: 170px;
    width: 400px;
    margin-bottom: 20px;
    border: 2px solid grey;
}
