
.buttons{
    display: inline-block;
}
.editBtn, .deleteBtn{
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    list-style: none;

}
.inputTitle{
    margin-bottom: 20px;
    border: 2px solid grey;
    width: 400px;
    height: 60px;
}

.inputDate{
    height: 60px;
    width: 400px;
    margin-bottom: 20px;
    border: 2px solid grey;}

.inputdes{
    height: 170px;
    width: 400px;
    margin-bottom: 20px;
    border: 2px solid grey;
}
.cardClass{
width: 600px;
display: flex;
padding: 30px;
flex-direction: column;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tableheadrow{
line-height: 30px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 5px 0px 5px 0px;
background-color: blanchedalmond;
}
.tablerow{
    display: flex;
flex-direction: row;
justify-content: space-between;
margin: 5px 0px 5px 0px;
}
.tableDATA{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
}